<ul class="controlList">
    <li class="uiButton ctrl options" data-action="showConfig" data-tooltip="View game options"></li>
    <li class="uiButton ctrl surrender" data-action="surrender" data-tooltip="Surrender"></li>
    <li class="uiButton ctrl cards" data-action="showCards" data-tooltip="View risk cards" data-count="0"></li>
    <li class="uiButton ctrl sounds" data-action="toggleMute" data-mute="0" data-tooltip="Play all sounds"></li>
</ul>

<div class="playerInfo">
    <h1 class="currentPlayer" style="border-color: {{currentPlayer.colour}}">{{currentPlayer.name}}</h1>

    <ul class="playerList">
        {{#each players}}
            <li>
                <span class="name" style="border-color: {{colour}};">{{name}}</span>
                <span class="strength">{{territories.length}} territories</span>
                <span class="cards">{{cardCount}} card(s)</span>
                <span class="rank" style="width: {{strength}}%"></span>
            </li>
        {{/each}}
    </ul>
</div>

<ul class="turnInfo">
    <li class="uiButton turnPhase disabled">Finish reinforce phase</li>
    <li class="message"><em>{{activePlayer.name}}: </em>{{message phase reinforcements}}</li>
</ul>